img{
  width: 100%;
  height: 400px; 
}

.card-deck{
  flex-wrap: wrap;
}
.container-fluid{
  background-color: black;
}

#buybook{
  width: 100%;
}

.mybooks{
  background-color: black;
}

#addBook{
  padding: 20px;
  background-color: black;
  margin: 40px 40px 0 40px;
}

#search-form{
  float: right;
}
