name: Auto-merge Dependabot PRs

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  auto-merge:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3.6.4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
          use-github-auto-merge: true
