name: Auto-merge Dependabot PRs

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  auto-merge:
    if: github.actor == 'dependabot[bot]' || github.actor == 'dependabot'
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: fastify/github-action-merge-dependabot@v3.6.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
          enable-auto-merge: true
